.father{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    font-weight: bold;
}
.father span{
    font-size: 18px;
}
.son1{
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    color: red;
}
.son2{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid blue;
    color: aqua;
}
.son3{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid tomato;
    color: thistle;
}
.grandSon{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgb(224, 208, 64);
    color: rgb(217, 80, 217);
}